<phpunit bootstrap="./bootstrap.php"
         colors="true"
         convertErrorsToExceptions="true"
         convertNoticesToExceptions="true"
         convertWarningsToExceptions="true"
         stopOnFailure="false"
         syntaxCheck="true" >
    <testsuite name="Crimson Component Library Test Suite">
        <directory>src</directory>
    </testsuite>
t</phpunit>
